#endemic-animals-heading {
  padding-top: 4%;
}

.endemic-animal-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: justify;
}

.endemic-animal-para {
  margin-top: 0;
}


/*QUOTE STYLING STARTS*/
.quote-section {
  width: 100%;
  padding: 20px;
  border: 2px solid #555f0b;
  background-color: #555f0b38;
}

blockquote p {
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}

cite {
  display: block;
  font-size: 1rem;
  color: #666565;
}

.related-links {
  margin-top: 15px;
}

.related-links ul {
  list-style-type: none;
  padding: 0;
}

.related-links li {
  margin-bottom: 5px;
  text-align: center;
}

.related-links a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #555f0b;
  font-weight: bold;
}

.related-links a:hover {
  text-decoration: underline;
  color: #1c1c1c;
  transition: 0.3s;
}

/*QUOTE STYLING ENDS*/
/*ANIMAL GALLERY STYLING STARTS*/
.overlay p {
  color: whitesmoke;
}

.overlay h3 {
  color: #bacf16;
}

#gallery-heading {
  padding-top: 50px;
  margin-bottom: 20px;
}

.wrapper {
  padding: 10px 10%;
  margin-bottom: 40px;
}

#card-area {
  padding: 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  width: 100%;
  height: 0;
  background: linear-gradient(transparent, #1c1c1c 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.box:hover img {
  transform: scale(1.1);
}

.box:hover .overlay {
  height: 100%;
}

/*ANIMAL GALLERY STYLING ENDS*/

@media only screen and (min-width:1920px) {
  .overlay p {
    font-size: 20px;
    padding: 0;
  }

  .overlay h3 {
    margin-top: 15%;
    font-size: 25px;
  }

}


@media only screen and (max-width:850px) {
  .endemic-animal-container {
    flex-direction: column;
  }

  .endemic-animal-container p {
    padding: 0;
  }

  .endemic-animal-para,
  #gallery-heading {
    margin-top: 5%;
  }

  blockquote p {
    font-size: 1.5rem;
  }

  .related-links a {
    font-size: 1rem;
  }
}