.newsletter-section {
    margin-top: -50px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}


.newsletter-section p {
    margin-bottom: 20px;
}

#newsletter-email {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;

}

#subscribe-btn {
    padding: 10px 20px;
    background-color: #555f0b;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#subscribe-btn:hover {
    background-color: #bacf16;
    color: #021116;
    transition: ease 0.5s;
}